#container{
    margin: auto;
    max-width: 1300px;
}

.row{
    margin: 14px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
}

.row input{
    height: 36px;
    border-radius: 6px;
    border: #296963 2px solid;
}
.row h3{
    margin: 0px
}

.row button{
    height: 40px;
}

.leftpanel{
    max-width: 300px;
    border-radius: 8px;
    box-shadow: #414141 0px 0px 10px;
    position: fixed;
    align-self: start;
    background: #46b4aa;
}

.list{
    margin-left: 300px;
    display: grid;
    grid-template-columns: 234px 250px 250px 250px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.card{
    background: #ffffff;
    border-radius: 8px;
    box-shadow: #414141 0px 0px 10px;
}

.titleb{
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    background: #46b4aa;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-family: "Segoe UI Black";
    color: white;
    text-overflow: ellipsis;
    font-style: normal;
    padding: 16px;

}

.info{
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info p{
    margin: 0px;
    font-family: "Segoe UI Variable";
}
.info p:first-of-type{
    font-family: "Segoe UI Semibold";
    font-style: normal;
}

.info p:last-of-type{
    font-family: "Segoe UI Semibold";
    font-style: normal;
}

.bott{
    background: #46b4aa;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-family: "Segoe UI Black";
    font-style: normal;
    padding: 16px;
    color: white;
    text-align: center;
}

.card img{
    border-radius: 200px;
}